{% extends "layout.html" %}

{% block title %}
    Add address
{% endblock %}


{% block main %}


    <h4>
        Sam found it hard to collect the addresses of friends and family to mail out his birthday invitations to. Addressbook is an easy way to collect addresses for your online address book. Not only for wedding invitations or holiday cards, but also to maintain an archive of all addresses of your friends and family.
    </h4>
    <h4>
        Get in touch with us by mail: hello@addressbook.com
    </h4>

{% endblock %}
